.index {
    width: 100%;
    height: 850px;
    background-size: cover;
    
  }

  .background {
    height: 874px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 1900px;
    height: 930px;
  }
  
  .text {
    color: #ffffff;
    font-family: "Readex Pro", Helvetica;
    font-size: 65px;
    font-weight: 400px;
    text-align: left;
    height: 588px;
    left: -200px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 200px; 
    width: 733px;
    position: relative;
  
  }
  
  .button-cadastre-se {
    background-color: #00ade1;
    border-radius: 40px;
    height: 100px;
    position: absolute;
    bottom: 100px; 
    left: -700px; 
    width: 290px;
    position: relative;
    color: #ffffff;
    font-family: "Readex Pro", Helvetica;
    font-size: 30px;
    font-weight: 400;
  }

  